.bigname{font-size: 30;
  font-family: 'Times New Roman', sans-serif'
  color: white;
  text-align: left;
}
.title2 {font-size: 20;
background-color: #ffc10e;
border: 1px solid  grey;
  padding: 10px;
  padding-top: 2px;
  text-align: center;
margin-left: 30;
margin-right: 30;
margin-top: 20;
font-family: 'Times New Roman', sans-serif;}


.title4 {margin-left: 30;
margin-top: 17;
font-family: 'Times New Roman', sans-serif;
}


.contactme {font-family: 'Calibri', sans-serif,;
color: 	#FFFFFF;
margin-left: 30;
margin-top: 30;
margin-bottom: 30;
text-align: center;}

.contact-background {background-color: #FDDADA;}

.body {text-align: center;}

.body2 {margin-left: 30;
text-align: center;
margin-top: 30;
margin-bottom: 30;}


.container-fluid {background-color: EBE4E4;}

.bigname {margin-top: 20;
margin-left: 30;
margin-bottom: 20;}

.skill-image {margin-left: 30;
              margin-bottom: 30;}

              /* click here to download my full resume */
.resume {
color: #b366ff;
border: 2px solid  #000000;
font-size: 17;
background-color: #f2e6ff;
text-align: center;
padding: 11;
margin-left: 20;
margin-right: 20;
margin-top: 20px;
margin-bottom: 20;
}

.myname {text-align: center;
  font-family: 'Times New Roman', sans-serif;
  margin-top: 40;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #fff;
}
.mytitle {text-align: center;
  font-family: 'Times New Roman', sans-serif;
  margin-top: 30px;
  margin-bottom: 50px;
  color: #fff;
}
.selfie-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15;
  margin-top: 15;
}


.hobbies {
margin-bottom: 5;
margin-top: 15;
text-align: center;}

.hobbies2 {display: inline-block;
margin: 20px;}

.hobbies-name {margin-bottom: 30;}

#googleForm {
  /*margin-left: auto;/*
  /*margin-right: auto;*/
  text-align: center;
}

.DataViz {font-family: 'Times New Roman', sans-serif;
margin-top: 35;
margin-bottom: 35;
text-align: center;
background-color:#ffc10e;
color:#565759;
length: 20;}

.col-2 {background-color: #ECEBEC; text-align: "left"; align:"left";}

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* LinkedIn */
.fa-linkedin {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.aboutme {
  background-color: none;
}

#navcontact {
}

.tableau {
  text-align: "center";
  margin-bottom: 5;
  margin-top: 5;
  margin-left: 85;
  margin-right: 0;
  padding-right: 0;
  padding-left: 100px;
  align: "center";
}

#collapsingNavbar3 {
  text-align: "center";
  margin-bottom: 5;
  margin-top: 5;
  margin-left: 85;
  margin-right: 0;
  padding-right: 0;
  padding-left: 100px;
  align: "center";
}

.container-fluid.text-center {
  background-color: white;
}

.intro {
  background: url("https://images.unsplash.com/photo-1505562130589-9879683e72da?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
}

body{
  font-family: Helvetica, Arial, sans-serif;
}
.container{
  width: 50%;
  margin: 0 auto;
}
@keyframes load{
  from {
    width: 0%
  }
}
@-webkit-keyframes load{
  from {
    width: 0%
  }
}
@-moz-keyframes load{
  from {
    width: 0%
  }
}
@-o-keyframes load{
  from {
    width: 0%
  }
}

.bar{
  background-color: #EEE;
  padding: 2px;
  border-radius: 15px;
  margin-bottom: 5px;
  font-size: 14px;
  color: #FFF;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
.bar::before{
  content:  attr(data-skill);
  background-color: #f3b0ff;
  display: inline-block;
  padding: 5px 0 5px 10px;
  border-radius: inherit;
  animation: load 2s 0s;
  -webkit-animation: load 2s 0s;
  -moz-animation: load 2s 0s;
  -o-animation: load 2s 0s;
}

.bar.front::before{
  background-color: #ffcc33;
}
.bar.back::before{
  background-color: #a6cfe3;
}

.bar.learning::before{
  width: calc(20% - 10px);
}
.bar.basic::before{
  width: calc(40% - 10px);
}
.bar.intermediate::before{
  width: calc(60% - 10px);
}
.bar.advanced::before{
  width: calc(80% - 10px);
}
.bar.expert::before{
  width: calc(100% - 10px);
}

.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
}

.thumbnail.img {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

.container-fluid.text-center.bg-grey {
  background-color: #ebebeb;
  padding: 40;
}

.thumbnail {
  background-color: white;
  padding-top: 20;
}

.cstone {
  background-color: #e9cb31;
}

.ESB {
  background-color: #ddce6e;
}

.snap {
  background-color: #d9d9c2;
}

.mcd {
  background-color: #676778;
  padding-bottom: 30px;
  margin-bottom: 50px;
}

.educat {
  text-align: center;
  color: #424345;
  padding: 40px;
  font-family: 'Times New Roman', sans-serif;
}

.end {
  padding: 30px;
}

#homeid {
margin-top: 50px;
}

#filmm {
  border: 2px solid  #676778;
  background-color: white;
  padding-top: 10;
}

#travel {
  border: 2px solid  #676778;
  background-image: url("https://images.unsplash.com/photo-1478809846154-d4ca173df3e0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60");
  padding-top: 10;
}

#art {
  border: 2px solid  #676778;
  background-color: white;
  padding-top: 10;
}

#volunteer {
  border: 2px solid  #676778;
  background-color: white;
  padding-top: 10;
}

#education {
  border: 2px solid  #676778;
  background-color: white;
  padding-top: 10;
}

#design {
  border: 2px solid  #676778;
  background-color: white;
  padding-top: 10;
}

#hobbie {
  background: none;
}
