.bigname{font-size: 30;
  font-family: 'Times New Roman', sans-serif;
}
.title2 {font-size: 20;
background-color: E5D2D2;
border: 1px solid  grey;
  padding: 10px;
  padding-top: 2px;
  text-align: center;
margin-left: 30;
margin-right: 30;
margin-top: 20;
font-family: 'Times New Roman', sans-serif;}

.title3 { text-align: center;
margin-top: 17;
font-family: 'Times New Roman', sans-serif;}


.title4 {margin-left: 30;
margin-top: 17;
font-family: 'Times New Roman', sans-serif;
}


.contactme {font-family: 'Times New Roman', sans-serif;
margin-left: 30;
margin-top: 30;
margin-bottom: 30;
text-align: center;}

.contact-background {background-color: #FDDADA;}

.body{ text-align: center;}

.body2 {margin-left: 30;}

.container-fluid {background-color: EBE4E4;}

.bigname {margin-top: 20;
margin-left: 30;
margin-bottom: 20;}

.skill-image {margin-left: 30;
              margin-bottom: 30;}

.resume {border: 2px solid  navy;
font-size: 20;
font-color: grey;
background-color: lightPink;
text-align: center;
padding: 11;
margin-left: 20;
margin-right: 20;
margin-top: 20px;
margin-bottom: 20;
}

.myname {text-align: center;
  font-family: 'Times New Roman', sans-serif;
  margin-top: 30;
  margin-top: 20px;
  margin-bottom: 20px;
  color: 181818;
}
.mytitle {text-align: center;
  font-family: 'Times New Roman', sans-serif;
  color: 282828;
  margin-top: 20px;
  margin-bottom: 40px;
}
.selfie-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15;
}


.namebackground {background-image: url("https://images.unsplash.com/photo-1532710534137-ae0da83eb118?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
)}

.hobbies {margin-left: 30;
margin-bottom: 5;
margin-top: 15;}

.hobbies2 {display: inline-block; }

.hobbies-name {margin-bottom: 30;}

#googleForm {
  /*margin-left: auto;/*
  /*margin-right: auto;*/
  text-align: center;
}

.DataViz {font-family: 'Times New Roman', sans-serif;
margin-left: 35;
margin-top: 35;
margin-bottom: 35;
text-align: center;
background-color:#ECEBEC;}

.col-2 {background-color: #ECEBEC; text-align: "left"; align:"left";}
